<%= form_with(model: micropost, local: true) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
        <% micropost.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content,"Content" %>
    <%= form.text_area :content %>
  </div>

    <div class="field">
      <%= form.label :user_id %>
      <% users = User.pluck(:name, :id) %>
      <% users.each do |user| %>
        <% user[0] = "#{user[1]}. #{user[0]}" %>
      <% end %>
      <%= form.select :user_id, users, { prompt: '選択してください' } %>
    </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, accept: '.jpeg, .jpg, .gif, .png, .bmp' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
